<p class="info-title">About Progressive Energy Services LLC</p>


<p class="info-body">
  When seeking a weatherization contractor to work in your home, be sure to ask about their credentials. Progressive Energy Services is trustworthy and knowledgeable.
  <br>
  <br>
  The company was founded in 2008 by Tom Regh. Having undergraduate and graduate engineering degrees from Rensselaer Polytechnic Institute and Worcester Polytechnic Institute, respectively, he is able to leverage his scientific background to your benefit.
  <br>
  <br>
  Progressive Energy Services use state-of-the-art equipment to diagnose building performance issues, and we are trained and certified by national accrediting organizations, such as the Building Performance Institute and the Infrared Training Center.
  <br>
  <br>
  <ul class="info-ul">
    <li>Massachusetts Home Improvement Contractor Reg. #161888</li>
    <li>Participating National Grid and NStar Weatherization Contractor</li>
    <li>Fully Insured</li>
  </ul>
</p>
