<p class="info-title">Financial Incentives and Costs</p>

<p class="info-body">
<strong>Incentives</strong>
<br>
<br>
Would you be interested to have $5,000 worth of weatherization work performed for
only $1,500??
<br>
There has never been a more economical time to make weatherization and energy-efficiency improvements to your home. Progressive Energy Services is an authorized National Grid and NStar Weatherization Contractor. We can show you how to take advantage of the following incentives that will minimize the expense of weatherizing your home. But you must act soon, as these generous incentives are time-limited!!
<br>
<br>
 Federal Tax Credits – 30%, up to $1,500
 <br>
 Natural Gas Utility Rebates – 75%, up to $2,000
 <br>
 FHA Energy Efficient Mortgages for home buyers
 <br>
 <br>
Pricing
<br>
Estimates for building performance contracting work are free. Diagnostic service prices are shown below. The Comprehensive Home Assessment Package represents a value packaging that includes all of our other individual services.
</p>
