<p id="index-header">Making Buildings Comfortable and Efficient</p>

<div class="video-index">
  <iframe width="650" height="366" src="//www.youtube.com/embed/4r7wHMg5Yjg" frameborder="0", class="video"></iframe>
</div>

<p class="reviews-label">REVIEWS</p>

<div class="reviews">
  <div class="review-title">
    Review: Insulation Service
  </div>
  <div class="review-date">
    3 months ago
  </div>
  <br>
  <div class="review-body">
    Completed a thermal imaging and blower test of my house (a small, aluminum-sided cape built in 1951 with kneewalls on the second floor) to identify places where heat was being lost, especially in an area where a frozen pipe had occurred. Discussed with me mitigation options. Completed selected options by introducing blown-in and foam insulation to seal leaks.

    My aluminum-sided house is a challenge. I purchased it in 2014, and during that winter had a pipe in an closet along an exterior wall freeze/thaw several times in January 2015. The pipe leads to an upstairs, unheated dormer containing a toilet and sink. The house sits high on a hill with the west side of the house getting the full force of the northwest wind, and the west-side kitchen and guest room (where the pipe was located in a closet) was very drafty when the wind blew.

    Tom Regh from Progressive Energy completed all assessment and work himself (the latter with the assistance of his apprentice). Tom was very pleasant, professional and easy to work with. After explaining some solutions he thought might help, he let me decide how I wanted to proceed--there was no hard sell--and then gave me a price estimate. (The final tally came in on the low end of the estimate). He and his assistant spent two days at my house completing the work. They were very reliable--showed up on time, cleaned up with a shop vac afterward and bundled the debris so I could dispose of it via the city trash pickup.

    The repairs took place after the early January 2016 cold snap, because that was the earliest he could schedule me, so I won't be able to know for sure how much difference the insulation has made. Time will tell. But the blast of cold air that was impacting the pipe has been significantly reduced. I don't expect that ALL the leakage problems have been solved--because I wasn't willing to have the west side of the house taken down to the studs and re-insulated and sided, nor part of the kitchen ceiling beneath the upstairs bathroom removed to fully expose the plumbing. It's an older house, and I think there was a certain amount of not very expert DYI work done by previous owners. That said, I won't hesitate to use Tom's services in future if I want to pursue some of the additional options he suggested.
  </div>
  <br>
  <div class="review-title">
    Oh Hot Damn
  </div>
  <div class="review-date">
    Right Now
  </div>
  <br>
  <div class="review-body">
    Shit, Tom came over and waved his wand at my house and BAM, My Energy Bills were CUT IN HALF.  Shit is chill in the summa and toasty as Fuck in the winter.
  </div>
</div>

<p class="angie">Check Us Out on <a href="#">Angie's List</a>!</p>
