<p class="info-title">Our Service Offering</p>

<p class="info-body">
  <strong>Building Performance Contracting - if your home is broken, we can fix it!!</strong>
  <br>
  <br>
  Progressive Energy Services is dedicated to quality workmanship and customer satisfaction. We offer the following Building Performance Contracting services:
  <br>
  <br>
  <ul class="info-ul">
    <li>Air Sealing using caulk, one-part, and two-part spray polyurethane foam</li>
    <li>Installation of dense-packed (wall) and loose-fill (attic) high performance cellulose insulation</li>
    <li>Insulation and sealing of air ducts</li>
    <li>Installation of mechanical ventilation systems</li>
  </ul>
  <p class="info-body">
    <strong>Individual Diagnostic Services - if you’re not sure whether your home is broken, we can figure it out!!</strong>
    <br>
    <br>
    In addition to our Contracting Services we offer the following diagnostic services to identify the root-cause of comfort and energy efficiency issues:
  </p>
  <br>
  <p class="info-more">
    <strong>Combustion Safety Test</strong> - evaluation of all combustion appliances for safe and efficient operation.
    <br>
    <strong>Blower Door Test</strong> - quantitative measurement of the air tightness of the building envelope.
    <br>
    <strong>Infrared Thermal Imaging</strong> - evaluation of energy loss through inadequate or missing insulation.
    <br>
    <strong>Envelope Inspection</strong> - an economical visual inspection.
  </p>
  <br>
  <p class="info-body">
    <strong>Comprehensive Home Assessment Package</strong>
    <br>
    <br>
    This packaging of diagnostic services represents the best value, and will provide you with a very thorough analysis of the energy efficiency and indoor air quality of your home. This service typically involves 3-5 hours on site.
    <br>
    The client will receive a detailed report, that can serve as the basis for planning and scheduling building improvements. The full-color report contains:
  </p>
  <br>
  <ul class="info-ul">
    <li>Prioritized recommendations for air sealing and insulation improvements which result in continuous and effective thermal and pressure boundaries. Blower door test results and infrared thermal images included.</li>
    <li>Evaluation of existing heating, cooling, and domestic hot water systems, with recommendations for improvement, if appropriate. Efficiency, draft, flue gas spillage, and carbon monoxide test results included.</li>
    <li>Evaluation of existing ventilation system with recommendations for improvement, if appropriate.</li>
    <li>Basic heat loss calculations and energy savings estimates.</li>
    <li>Budgetary cost estimates and payback analysis for recommended improvements.</li>
    <li>Guidance for receiving available rebates, tax credits, and low-interest loans for making energy improvements.</li>
  </ul>
  <br>
  <p class="info-body">
    <strong>Our "No Obligation" Policy</strong>
    <br>
    <br>
    When you hire Progressive Energy Services to perform diagnostic testing and evaluation of your home, you will get an honest and objective assessment of the condition of your home. There is never any obligation on the part of the customer to continue working with Progressive Energy Services afterwards. The customer is free to work with any contractor with whom they are comfortable, or they may elect to perform the work themselves. As a convenience, Progressive Energy Services can provide a detailed work scope and quotation, upon request.
  </p>
  <br>
</p>
