/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,
 body {
 	margin:0;
 	padding:0;
 	height:100%;
 }
 #wrapper {
 	min-height:100%;
 	position:relative;
 }

 #content {
 	padding-bottom:50px; /* Height of the footer element */
 }
 #footer {
 	background:#2E3192;
 	width:100%;
 	height:50px;
 	position:absolute;
 	bottom:0;
 	left:0;
 }

 @font-face {
 font-family: "unispace";
 src: url(asset-path("unispace.ttf")) format("truetype");
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: "adam";
 src: url(asset-path("ADAM.otf")) format("opentype");
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: "hemi-head";
 src: url(asset-path("hemi-head.ttf")) format("truetype");
 font-weight: normal;
 font-style: normal;
}
