.footer-ul{
  list-style: none;
  display: inline-flex;
  font-size: 1.6rem;
  font-family: 'ADAM';
  padding-top: 8px;
  margin-bottom: 0px;
}

.footer-li{
  padding-left: 13rem;
  color: white;
}
.footer-li {
  color: white;
}

#footer a:link { color: white; }
#footer a:visited { color: white; }
#footer a:hover { color: white; }
#footer a:active { color: white; }
