.footer-ul{
  list-style: none;
  display: inline-flex;
  font-size: 1.7rem;
}

.footer-li{
  padding-left: 8rem;
  color: white;
}
.footer-li {
  color: white;
}

#footer a:link { color: white; }
#footer a:visited { color: white; }
#footer a:hover { color: white; }
#footer a:active { color: white; }
