#index-header {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
}
.video-index{
  padding-left: 5rem;
  float: left;
}
// review area
.reviews-label{
  padding-left: 62rem;
}
.reviews{
  float: right;
  width: 25rem;
  height: 20rem;
  overflow: scroll;
  padding-right: 2rem;
}
.review-title {
  font-weight: bold;
}
.review-date {

}
.reviews-body {

}
