.info-title{
  font-size: 2rem;
  padding-left: 15%;
}
.info-body{
  width: 75%;
  padding-left: 12.5%;
  margin-bottom: 0;
}
// about

.info-ul{
  list-style-type: square;
  padding-left: 20%;
}

// contact us

.info-more{
  padding-left: 20%;
}
