@import "foundation_and_overrides";
@import "*";

#header {
  background: image-url("orange.png");
  background-size: cover;
  border-bottom:6px solid black;
}
// left side of nav
.left-nav{
  display: inline-flex;
  list-style: none;
  padding-top: 1rem;
  margin-bottom: 0px;
}
#logo{
  width: 8vw;
  margin-top: -1rem;
}
.logo-img{
  border-bottom:2px solid black;
}
#title-nav{
  padding-left: 1rem;
  font-size: 3rem;
  font-family: 'hemi-head';
  margin-bottom: -12px;
  margin-top: -7px;
}
.LLC{
  font-size: 1.5rem;
}
// right side of nav
.dropbtn {
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 7rem;
    height: 5.75rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    display: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'ADAM';
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hamburger{
  width: 50px;
}

.dropdown-content-phone{
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  display:none;
}

// mobile friendzone


@media (max-width: 1100px) {
  .dropdown-content{
    display: none;
  }
  .dropdown-content-phone a:hover {
    background-color: #f1f1f1
  }
  .dropdown:hover .dropdown-content-phone {
    display: block;
  }
  .dropdown-content-phone a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'ADAM';
  }
  #title-nav {
    font-size: 1.4rem;
    font-family: 'hemi-head';
    margin-bottom: -12px;
    margin-top: -7px;
    padding-left: 10px;
  }

  .logo-img {
    border-bottom: 8px solid black;
  }
  #logo {
    display: none;
  }
  .left-nav{
    margin-left: 0;
  }

  .dropdown {
    float: right;
    margin-top: -69px;
  }
  .dropbtn {
    width: 5rem;
  }
  .hamburger {
    width: 38px;
  }
  .LLC{
     display: none;
   }
}
